@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sellers</title>
</head>
<body>
    <p>Sellers index page</p>
</body>
</html>
